


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Watson Natural Language Understanding </h2>
  <p>Please enter text for testing out the Watson Service:</p>
  <form action="/analyze" method="post">
    <div class="form-group">
      <label for="labelText">Text to be analyzed:</label>
      <textarea class="form-control" name = "analyzeText" rows="5" id="analyzeText"></textarea>
      <input type="submit" class="btn btn-info" value="Analyze with Watson">
   </div>
   </form>
</div>
<div class="container">
  <div> <%=myresult %> </dip>
</div">
     


</body>
</html>